/* CSS Document */

a {color: rgb(0, 161, 199); text-decoration: none;}
a:visited {color: rgb(0, 163, 61); text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {color: rgb(255, 102, 0); text-decoration: underline;}
aside {margin-left: 900px; min-width: 150pt;}
body {font-family: "Open Sans", sans-serif; margin: 0}
footer {margin: 20pt 0 0 0; position: relative; font-size: small;}
h1 {color: #777777; margin-bottom: 10pt;}
main {position: absolute; width: 100%; margin: 0; padding: 0;}
p {margin: 5pt 0 5pt 0;}

.credits {padding-top: 20pt; padding-right: 75pt;}
.left {float: left;}
.logo {position: absolute; right: 0; bottom: 0; margin: auto 0 auto 0; padding: 30pt 0 0 0;}
.logo img {width: 75pt;}
.right {text-align: right;}

#content {margin: 10pt 10pt 0 10pt; max-width: 100%; padding: 10pt; border: solid 2px #666666; color: #555555;}
#info-block {margin-left: 50pt; font-weight: bold;}
#info-block table {background: #eeeeee;}
#info-block td {padding-right: 10pt;}
#map {float: left; margin: 0; height: 620px; width: 900px; background: #ffffff;}
